html, body {
  margin: 0;
}

html, body,
*[data-drag="true"] {
  -webkit-app-region: drag;
}

a, input, button, .fa,
h1, h2, h3, h4, h5, h6,
p, *[data-no-drag="true"] {
  -webkit-app-region: no-drag;
}

.inline-code {
  font-family: monospace;
  background-color: #eee;
  padding: 3px;
  border-radius: 3px;
  line-height: 30px;
}

.subtle {
  color: #bbb;
  font-weight: 900;
}

.opaque {
  opacity: 1 !important;
}

input:disabled,
select:disabled {
  background-color: #eee;
  color: #888;
  cursor: not-allowed;
}

#loading,
#fade {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#fade {
  background-color: rgba(33,33,33,0.6);
  z-index: 2;
  position: fixed;
  top: 0;
}

#end {
  text-align: center;
}

#loading .loading-text,
#end {
  color: #bbb;
  font-weight: 900;
  font-family: 'Roboto';
  font-size: 24pt;
  margin: 40px 0;
}

#loading .loading-text {
  animation: colors 5.6s ease-in-out infinite;
}

.fa.fa-heart.red {
  color: #da2929;
}

/* Loading spinner */
.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
    color: #4285F4;
  }
  25% {
    stroke: #DE3E35;
    color: #DE3E35;
  }
  50% {
    stroke: #F7C223;
    color: #F7C223;
  }
  75% {
    stroke: #1B9A59;
    color: #1B9A59;
  }
  100% {
    stroke: #4285F4;
    color: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
    color: #4285F4;
  }
  25% {
    stroke: #DE3E35;
    color: #DE3E35;
  }
  50% {
    stroke: #F7C223;
    color: #F7C223;
  }
  75% {
    stroke: #1B9A59;
    color: #1B9A59;
  }
  100% {
    stroke: #4285F4;
    color: #4285F4;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
