html, body {
  margin: 0;
}

html, body,
*[data-drag="true"] {
  -webkit-app-region: drag;
}

a, input, button, .fa,
h1, h2, h3, h4, h5, h6,
p, *[data-no-drag="true"] {
  -webkit-app-region: no-drag;
}

.inline-code {
  font-family: monospace;
  background-color: #eee;
  padding: 3px;
  border-radius: 3px;
  line-height: 30px;
}

.subtle {
  color: #bbb;
  font-weight: 900;
}

input:disabled,
select:disabled {
  background-color: #eee;
  color: #888;
  cursor: not-allowed;
}
