html, body {
  margin: 0;
}

.inline-code {
  font-family: monospace;
  background-color: #eee;
  padding: 3px;
  border-radius: 3px;
  line-height: 30px;
}

.subtle {
  color: #bbb;
  font-weight: 900;
}

input:disabled,
select:disabled {
  background-color: #eee;
  color: #888;
  cursor: not-allowed;
}
