#open-drawer {
  position: fixed;
  top: 30px;
  right: 30px;
  color: white;
  z-index: 1;
  cursor: pointer;
  padding: 10px;
  opacity: 0.3;
  transition: opacity 300ms;
}

#open-drawer:hover {
  opacity: 1;
}

#drawer {
  position: fixed;
  right: -500px;
  max-width: 460px;
  font-family: sans-serif;
  background-color: white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
  height: 100%;
  overflow-y: scroll;
  z-index: 1;
  transition: right 500ms;
}

#drawer.show {
  right: 0;
}

#drawer .top-bar {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #3F51B5;
  color: white;
}

#drawer .top-bar .title {
  padding: 0 20px;
  font-size: 24px;
  vertical-align: middle;
  font-style: italic;
}

#drawer #close-drawer {
  cursor: pointer;
  padding: 5px;
}
