.image-block {
  display: inline;
  width: 50%;
}

.image-block .overlay .actions a {
  padding: 5px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    transition: opacity 300ms;
    color: white;
}

.overlay:hover {
  opacity: 1;
}

.overlay .header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1%;
}

.overlay .header .title {
  font-weight: 900;
  font-size: 20px;
}

.overlay div,
.overlay .header .title {
  text-align: center;
  color: white;
}

.overlay .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1%;
}

.overlay .actions {
  padding: 2.5% 0;
}

.overlay .actions i {
  color: white;
  cursor: pointer;
}

.tag.nsfw {
  padding: 3px 5px;
  background-color: #bc234b;
  border-radius: 3px;
  font-size: 12px;
}
