body {
  margin: 0;
}

.image-block {
  display: inline;
  width: 50%;
}

.image-block .overlay .actions a {
  padding: 5px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    transition: opacity 300ms;
    color: white;
}

.overlay:hover {
  opacity: 1;
}

.overlay .header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1%;
}

.overlay .header .title {
  font-weight: 900;
  font-size: 20px;
}

.overlay div,
.overlay .header .title {
  text-align: center;
  color: white;
}

.overlay .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1%;
}

.overlay .actions {
  padding: 5% 0;
}

.overlay .actions a {
  color: white;
}

.tag.nsfw {
  padding: 3px 5px;
  background-color: #bc234b;
  border-radius: 3px;
  font-size: 12px;
}

#end {
  text-align: center;
  font-size: 28px;
  padding: 20px 0;
  color: #bbb;
}

#loading {
  width: 100%;
  height: 100%;
}

.loader-wrapper {
  position: relative;
  top: 45%;
  text-align: center;
}

.loader-wrapper .loader {
  border: 3px solid #999;
  -webkit-border-radius: 30px;
  height: 40px;
  margin: auto;
  width: 40px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.0;
}

.loader-wrapper span {
  position: relative;
  top: 20px;
  margin: 20px 0;
  font-size: 20px;
  color: #ccc;
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}
