.image-block {
  display: inline;
  width: 50%;
  cursor: pointer;
}

.image-block .overlay .actions a {
  padding: 5px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 300ms;
  color: white;
  z-index: 2;

  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 6%;
  display: flex;
  align-items: center;
}

.overlay:hover {
  opacity: 1;
}

.overlay .header {

}

.overlay .title {
  font-weight: 900;
  font-size: 24pt;
  font-family: 'Roboto';
  line-height: 95%;
  width: 50%;
}

.overlay .action {
  font-size: 10px;
  padding: 5px 10px;
  border: 1px solid white;
}

.overlay div,
.overlay .title {
  text-align: left;
  color: white;
}

.overlay #tags {
  margin-bottom: 15px;
}

.overlay .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1%;
}

.overlay .actions {
  padding: 2.5% 0;
}

.overlay .actions i {
  color: white;
  cursor: pointer;
}

.tag.nsfw {
  padding: 3px 5px;
  background-color: #bc234b;
  border-radius: 3px;
  font-size: 12px;
}
