body, html {
  background-color: #333 !important;
}

#showcase {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
  position: absolute;
  right: 0;
  left: 0;
}

#drawer .grouped-entries {
  padding: 20px 0;
  background-color: #3F51B5;
  text-align: center;
  margin: 0;
}

#drawer .entry {
  padding: 10px 25px;
}

#drawer .key {
  font-weight: 500;
  margin-right: 10px;
  color: rgba(255,255,255,0.7);
}

#drawer .value {
  font-weight: 900;
  color: white;
}

#drawer .sidebar-section {
  margin: 30px 15px;
}

#drawer .grouped-entries .entry {
  padding: 4px 25px;
}

#drawer .grouped-entries .key {
  font-weight: 500;
}

#drawer .entry[data-key="Description"] .key {
  display: none;
  margin-bottom: 5px;
  font-size: 18px;
}

#drawer .entry[data-key="Description"] .value {
  font-weight: 500;
}

#drawer .entry[data-key="User"] {
  text-align: center;
  padding: 15px 25px;
}

#drawer .key[data-key="Name"] {
  display: none;
}

#drawer .key[data-key="Name"] + .value {
  font-size: 34px;
  font-weight: 100;
  letter-spacing: 3px;
}

#drawer .key[data-key="Author"],
#drawer .key[data-key="Author"] + .value  {
  font-size: 24px;
}

#drawer #rating-details {
  text-align: center;
  border-bottom: none;
}

#drawer #rating-details .key {
  margin-right: 0;
}

#drawer #rating-details .value {
  font-size: 20px;
  font-weight: 900;
  margin-top: 5px;
}

#drawer .userpic {
  max-width: 70px;
  max-height: 70px;
  border-radius: 100%;
  margin-bottom: 10px
}

.tag {
  padding: 5px 10px;
  background-color: #3F51B5;
  color: white;
  border-radius: 3px;
  line-height: 32px;
  font-weight: 900;
}

#bottom-palette {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  transition: height 300ms ease-in-out;
  padding-top: 30px;
}

#bottom-palette.show {
  height: 31px;
}

#bottom-palette.show:hover {
  height: 61px;
}

#bottom-palette .progress {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  border-radius: 0;
}
