body, html {
  background-color: #333 !important;
}

#showcase {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
  position: absolute;
  right: 0;
  left: 0;
}

.tag {
  padding: 5px 10px;
  background-color: #373373;
  color: white;
  border-radius: 3px;
  line-height: 32px;
  font-weight: 900;
  white-space: nowrap;
}

#bottom-palette {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  transition: height 300ms ease-in-out;
  padding-top: 30px;
}

#bottom-palette.show {
  height: 31px;
}

#bottom-palette.show:hover {
  height: 61px;
}

#bottom-palette .progress {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  border-radius: 0;
}
