.settings {
  padding: 0 5%;
  font-family: 'Roboto';
}

.settings h2 {
  font-family: 'Roboto';
  font-weight: 900;
  color: #555;
  margin: 10px 0;
}

.settings .checkbox-opt {
  margin: 5px 10px;
  font-size: 15px;
}

.settings > div {
  display: none;
}
