<html>
  <head>
    <title>Desktopr - Gallery</title>
    <link rel="stylesheet" href="../css/gallery.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
  </head>
  <body>
    <div class="images">
    </div>
    <div id="loading">
      <div class="loader-wrapper">
        <div class="loader"></div>
        <span>Getting images</span>
      </div>
    </div>
    <div id="end">
      <span>You reached the end.</span>
    </div>

    <!-- Scripts -->
    <script type="text/javascript" src="../js/masonry.js"></script>
    <script type="text/javascript" src="../js/500px.js"></script>
    <script type="text/javascript" src="../js/gallery.js"></script>

    <!-- Templates -->
    <script id="image-template" type="text/x-handlebars-template">
      <div class="image-block" data-id="{{id}}">
        <div class="overlay">
          <div class="header">
            <h3 class="title">{{title}}</h3>
            <div id="tags">
              {{#if nsfw}}
                <span class="tag nsfw">NSFW</span>
              {{/if}}
            </div>
          </div>
          <div class="footer">
            <div class="actions">
              <a class="set-background" href="#">
                <i class="fa fa-desktop"></i>
              </a>
            </div>
            <span>By <b class="author">{{author}}</b> &#8226; <span class="res">{{resolution}}</span></span>
          </div>
        </div>
        <div class="body">
          <img src="{{src}}" alt="" width="100%" style="">
        </div>
      </div>
    </script>
  </body>
</html>
