<html>
  <head>
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/image.css">
    <link rel="stylesheet" href="../css/drawer.css">
    <link rel="stylesheet" href="../css/snackbar.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
  </head>
  <body>
    <div>
      <i id="open-drawer" class="fa fa-bars fa-lg"></i>
    </div>
    <img id="showcase" src="" alt="">
    <!-- Scripts -->
    <script type="text/javascript" src="../js/Vibrant.min.js"></script>
    <script type="text/javascript" src="../js/image.js"></script>
    <!-- Templates -->
    <script id="displayable_details_template" type="text/x-handlebars-template">
      <div style="margin: 20px 15px;">
        <h4 class="subtle">More details</h4>
        {{#each entries}}
        <div class="entry">
          <span class="key" data-key="{{ this.key }}">{{ this.key }}</span>
          <span class="value">{{ this.value }}</span>
        </div>
        {{/each}}
      </div>
    </script>

    <script id="photography_details_template" type="text/x-handlebars-template">
      <div class="grouped-entries">
        {{#each entries}}
        <div class="entry">
          <span class="key" data-key="{{ this.key }}">{{ this.key }}</span>
          <span class="value">{{ this.value }}</span>
        </div>
        {{/each}}
      </div>
    </script>

    <script id="important_details_template" type="text/x-handlebars-template">
      <div class="">
        {{#each entries}}
        <div data-key="{{ this.key }}" class="entry">
          {{#if this.extra.userpic_url}}
            <div>
              <img class="userpic" src="{{ this.extra.userpic_url }}" alt="{{ this.extra.username }}">
            </div>
          {{/if}}
          <span class="key" data-key="{{ this.key }}">{{ this.key }}</span>
          <span class="value">{{#if_eq this.key "Aperture"}} f/{{/if_eq}}{{ this.value }}</span>
        </div>
        {{/each}}
      </div>
    </script>

    <script id="rating_details_template" type="text/x-handlebars-template">
      <div id="rating-details" class="row grouped-entries">
        {{#each entries}}
        <div class="entry col-xs-4">
          {{#if_eq this.key "Fav count"}}
            <i class="fa fa-heart" style="color: rgba(218, 0, 0, 0.7)"></i>
          {{/if_eq}}
          {{#if_eq this.key "Times viewed"}}
            <i class="fa fa-eye" style="opacity: 0.7"></i>
          {{/if_eq}}
          {{#if_eq this.key "Rating"}}
            <i class="fa fa-star-half-o" style="color: #F3BA2E"></i>
          {{/if_eq}}
          <div class="key" data-key="{{ this.key }}">{{ this.key }}</div>
          <div class="value">{{ this.value }}</div>
        </div>
        {{/each}}
      </div>
    </script>

    <script id="tags_template" type="text/x-handlebars-template">
      <div style="margin: 20px 15px;">
        <h4 class="subtle">Tags</h4>
        {{#each entries}}
          {{#each this.value }}
            <span class="tag">{{ this }}</span>
          {{/each}}
        {{/each}}
      </div>
    </script>

    <script id="palette_template" type="text/x-handlebars-template">
      <div style="margin: 20px 15px;">
        <h4 class="subtle">Color Palette</h4>
        <div id="drawer-palette"></div>
      </div>
    </script>

    <script id="palette_template_content" type="text/x-handlebars-template">
      <div class="progress">
        {{#each entries}}
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow=""
            aria-valuemin="0" aria-valuemax="100"
            style="width: 20%; background-image: linear-gradient(to bottom,{{ this.color }} 0,{{ this.color }} 100%)"
            data-toggle="tooltip" data-placement="top" title="{{ this.title }}">
          </div>
        {{/each}}
      </div>

      <script type="text/javascript">
        $('[data-toggle="tooltip"]').tooltip();
      </script>
    </script>
  </body>
</html>
