<html>
  <head>
    <title>Settings</title>

    <link rel="stylesheet" href="../css/options.css">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../fonts/roboto.css">
    <link rel="stylesheet" href="../css/photon.min.css">
  </head>
  <body>
    <div class="tab-group">
      <div class="tab-item active" data-key="general">
        General
      </div>
      <div class="tab-item" data-key="gallery">
        Gallery
      </div>
      <div class="tab-item" data-key="menu">
        Menu Bar
      </div>
      <div class="tab-item" data-key="sources">
        Sources
      </div>
    </div>

    <div class="settings">
      <div id="general" class="section" data-tab="general" style="display: block;">
        <h2>General settings</h2>
        <div class="checkbox-opt">
          <input type="checkbox" data-key="open_gallery"> Show gallery at startup
        </div>
        <div class="checkbox-opt">
          <input type="checkbox" data-key="allow_nsfw"> Allow NSFW images
        </div>
      </div>

      <div id="gallery" class="section" data-tab="gallery">
        <h2>Layout</h4>
        <div class="form-group">
          <label for="layout">Layout style:</label>
          <select class="form-control" id="layout">
            <option value="list">List</option>
            <option value="columns">Columns</option>
          </select>
        </div>
        <h4>Column layout</h4>
        <div class="form-group">
          <label for="n_columns">Number of columns:</label>
          <select class="form-control" id="n_columns">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
      </div>

      <div id="keys" class="section" data-tab="menu">
        <h2>Menu settings</h2>
        <h4>Keys</h4>
        <input type="radio" name="menu_on_alt" value="true" data-key="menu_on_alt">
          <span class="inline-code">Alt-click / right-click</span> opens the menu, <span class="inline-code">regular click</span> sets a random background <br/>
        <input type="radio" name="menu_on_alt" value="false" data-key="menu_on_alt">
          <span class="inline-code">Regular click</span> opens the menu, <span class="inline-code">alt-click / right-click</span> sets a random background <br/>
      </div>

      <div id="sources" class="section" data-tab="sources">
        <h2>Sources</h2>
          <div class="checkbox-opt">
            <input type="checkbox" data-key="EditorsChoice"> Editors' Choice
          </div>
          <div class="checkbox-opt">
            <input type="checkbox" data-key="Popular"> Popular
          </div>
          <div class="checkbox-opt">
            <input type="checkbox" data-key="Upcoming"> Upcoming
          </div>
          <div class="checkbox-opt">
            <input type="checkbox" data-key="FreshToday"> Fresh Today
          </div>
          <div class="checkbox-opt">
            <input type="checkbox" data-key="FreshYesterday"> Fresh Yesterday
          </div>
          <div class="checkbox-opt">
            <input type="checkbox" data-key="FreshWeek"> Fresh this week
          </div>
      </div>
    </div>

    <!-- Scripts -->
    <script type="text/javascript" src="../js/options.js"></script>
  </body>
</html>
