<html>
  <head>
    <title>Settings</title>

    <link rel="stylesheet" href="../css/options.css">
  </head>
  <body>
    <div class="settings">
      <div class="section">
        <h2>General settings</h2>
        <div class="checkbox-opt">
          <input type="checkbox" data-key="open_gallery"> Show gallery at startup
        </div>
        <div class="checkbox-opt">
          <input type="checkbox" data-key="allow_nsfw"> Allow NSFW images
        </div>
      </div>
      <div class="section">
        <h2>Menu settings</h2>
        <h4>Keys</h4>
        <input type="radio" name="menu_on_alt" value="true" data-key="menu_on_alt">
          Alt-click / right-click opens the menu, regular click sets a random background
        <input type="radio" name="menu_on_alt" value="false" data-key="menu_on_alt">
          Alt-click / right-click sets a random background, regular click opens the menu
      </div>
    </div>

    <!-- Scripts -->
    <script type="text/javascript" src="../js/options.js"></script>
  </body>
</html>
